body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    margin: 40px;
    background-color: #f5f2ed;
    max-width: 100%;
}

h1{
    font-size: 30px;
    font-weight: 400;
}

.headContainer{
    display: flex;
    direction: row;
    border-radius: 30px;
    max-width: 100%;
    justify-content: left;
}


.logga2{
    width: 400px;
    height: 230px;
    margin-bottom: -20px;
}


h6{
    font-weight: lighter;
    font-size: 12px;
    margin-top: 0;
}

.mainContainer{
    background-color: #fff;
    display: flex;
    direction: row;
    border-radius: 15px;
    text-align: center;
}


main{
    position:relative;
    background-color: #fff;
    margin: 20px;
    padding: 30px;
    padding-top: 0;
    border: 2px dotted #f5f2ed;
    width: 100%;
}

a{
    text-decoration: none;
    color:#000;
}

li{
    font-weight: bold;
    line-height: 25px;
}

ul li{
    font-weight: normal;
}

nav {
    text-align: left;
    margin: 10px;
    margin-top: 50px;
    list-style: none;
    width: 100px;
    font-style: bold;
}

nav ul{
    list-style: none;
    margin-left: -20px;
    margin-top: -1px;
}

nav li:hover{
    transition:ease-in-out;
    transform: scale(1.1);
}

.choose{
    text-align: right;
    font-size: 15px;
    display: inline-block;
    list-style: none;
    display: inline-flex;
    justify-content: right;
    margin-right: 25px;
}

.choose li{
    background-color: #fff;
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: -2px;
    border-radius: 5px;
    font-weight: lighter;
}

.choose li:hover{
    transition:ease-in-out;
    transform: scale(1.2);
}

.orderToday{
    justify-content: baseline;
    margin-top: 30px;
    padding: 5px;
    background-color: #fa7e0a7f;
    border-radius: 10px;
    max-width: 100%;
    height: 15px;
}

footer{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #e8e2dd;
    width: 100%;
    font-size: 11px;
}

.madeBy{
    display: block;
    margin: 0 auto;
    padding: 20px;
    font-size: 11px;
}

.product{
    width: 250px;
    position: relative;
    justify-content: space-evenly;
}

.product1{
    width: 150px;
    justify-content: space-between;
    margin: 15px;
}


.poster{
    width: 200px;
    height: auto;
    justify-content: space-evenly;
    margin: 10px;
}

.themeLink{
    padding: 20px;
    margin-top: 20px;
    font-size: 18px;
    color: #896A65;
}

@media only screen and (max-width: 900px) {
    .poster, .product, .product1{
        width:100px;
    }


}