body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #f5f2ed;
    max-width: 100%;
}

h1{
    font-size: 20px;
    font-weight: 400;
}

.headContainer{
    display: flex;
    direction: row;
    border-radius: 30px;
    max-width: 100%;
    justify-content: center;
}

.logga{
    flex-direction: row;
    position: relative;
    width: 450px;
    height: 280px;
    margin-top: 30px;
}

.logga2{
    width: 250px;
    height: 150px;
    margin-top: 30px;
}

.news{
    background-color: #2f491e;
    width: 100px;
    height: 100px;
    font-size: 11px;
    font-weight: light;
    color:#f5f2ed;
    margin: 20px;
    text-align: center;
    border-radius: 50%;
    padding: 30px;
    border: 10px dashed #f5f2ed;
    position: relative;
    margin-left: -60px;
}

.news h2{
 font-weight: lighter;
 font-size: 28px;
 margin-top: 0;
}

h6{
    font-weight: lighter;
    font-size: 12px;
    margin-top: 0;
}

.mainContainer{
    background-color: #fff;
    display: flex;
    direction: row;
    border-radius: 15px;
    text-align: center;
    margin: 0px 10px;
}

main{
    position:relative;
    background-color: #fff;
    margin: 20px;
    padding: 30px;
    padding-top: 0;
    border: 2px dotted #f5f2ed;
    width: 100%;
}

a{
    text-decoration: none;
    color:#000;
}

li{
    font-weight: bold;
    line-height: 25px;
}

ul li{
    font-weight: normal;
}

nav {
    text-align: left;
    margin: 10px;
    margin-top: 50px;
    list-style: none;
    width: 100px;
    font-style: bold;
}

nav ul{
    list-style: none;
    margin-left: -20px;
    margin-top: -1px;
}

nav li:hover{
    transition:ease-in-out;
    transform: scale(1.1);
}

.choose{
    text-align: right;
    font-size: 15px;
    display: inline-block;
    list-style: none;
    display: inline-flex;
    justify-content: right;
    margin-right: 60px;
}

.choose li{
    background-color: #fff;
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: -2px;
    border-radius: 5px;
    font-weight: lighter;
}

.choose li:hover{
    transition:ease-in-out;
    transform: scale(1.2);
}

.orderToday{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    background-color: #fa7e0a7f;
    border-radius: 10px;
    max-width: 80%;
}

footer{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #e8e2dd;
    width: 100%;
    font-size: 11px;
}

.madeBy{
    display: block;
    margin: 0 auto;
    padding: 20px;
    font-size: 11px;
}

.product{
    width: 250px;
    position: relative;
    justify-content: space-evenly;
}

.product1{
    width: 150px;
    justify-content: space-between;
    margin: 15px;
}

.start1{
    width: 150px;
    border: solid 1px #000;
}

.start2, .start3{
    width: 200px;
    justify-content: center;
}

.start4{
    width: 120px;
    margin-bottom: 35px;
}

.startpil{
    width: 85px;
}

button{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    padding:10px;
    font-size: 18px;
    width: fit-content;
    background-color: #889871;
    border: #000;
    border-radius: 10px;
}

button:hover{
    color: #f5f2ed;
    background-color: #fa7e0a7f;
    cursor:pointer;
}

.orderList{
    font-size: 12px;
    margin-top: 100px;
}

.lathund{
    width: 300px;
    height: 450px;
    float: right;
    margin-top: -60px;
}

.profil{
    float: center;
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 50%;
    border: solid 1px #000;
}

.info{
    font-size: 13px;
}


/*thanks*/

.thanksContainer{
    background-color: #fff;
    position: relative;
    justify-content: center;
    margin-top: 50px;
    max-width: 900px;
    border-radius: 15px;
}

.thanksContainer p{
    text-align: center;
}

.thanks{
    font-size: 50px;
    text-align: center;
}

.package{
    display: block;
    margin: 0 auto;
    width: 200px;
    height:180px;
    
}

/*extra*/
@media only screen and (max-width: 900px) {
.headContainer{
    justify-content: left;
}

h6{
    font-size: 8px;
}

.orderToday{
    font-size: 11px;
}

.logga{
    width: 250px;
    height: 180px;
}

.logga2{
    width: 200px;
    height: 100px;
    margin-bottom: -20px;
    float: left;
}

.news{
    width:50px;
    height: 50px;
    margin-left: -20px;
    border: 5px dashed #f5f2ed;
}

.news h2{
    font-size: 12px;
    font-weight: bold;
}

.start1{
    width: 80px;
}

.start2, .start3{
    width: 110px;
}

.start4{
    width: 65px;
    margin-bottom: 15px;
}

.startpil{
    width: 60px;
}

button{
    font-size: 12px;
}
}

@media only screen and (max-width: 700px) {
body{
    margin: 10px;
}

h1{
    font-size: 14px;
}

main{
    padding: 10px;
}

main p{
    font-size: 12px;
}

.orderToday{
    font-size: 8px;
}

.logga2{
    width: 200px;
    height: 100px;
    margin-bottom: -20px;
}

.choose{
    font-size: 12px;
    margin-top: 5px;
}

nav{
    font-size: 11px;
}

.start1{
    width: 60px;
}

.start2, .start3{
    width: 80px;
}

.start4{
    width: 55px;
    margin-bottom: 10px;
}

.startpil{
    width: 40px;
}

button{
    font-size: 12px;
}

.profil{
    width: 100px;
    height: 100px;
}

.info{
    font-size: 11px;
}

.lathund{
    width: 180px;
    height: 320px;
    margin-top: -10px;
}

.orderList{
    font-size: 11px;
    margin-top: 30px;
}

.thanksContainer{
    font-size: 12px;
    justify-content: center;
}

.package{
    width: 100px;
    height: 80px;
}
}

@media only screen and (max-width: 500px) {
h1{
    font-size: 12px;
}

h6{
    font-size: 5px;
}

.orderToday{
    font-size: 6px;
    height: 10px;
}

.logga{
    width: 180px;
    height: 100px;
}

.logga2{
    width: 150px;
    height: 80px;
    margin-bottom: -20px;
}

.choose{
    font-size: 10px;
    margin-top: 5px;
    justify-content: center;
    margin-right: 0px;
}

.news{
    width:30px;
    height: 30px;
    margin-left: -20px;
    border: 2px dashed #f5f2ed;
}

.news h2{
    font-size: 9px;
    padding:0px;
    font-weight: lighter;
}

nav{
    font-size: 11px;
}

.start1{
    width: 40px;
}

.start2, .start3{
    width: 50px;
}

.start4{
    width: 30px;
    margin-bottom: 10px;
}

.startpil{
    width: 20px;
}

button{
    font-size: 10px;
}

li{
    line-height: 15px;
}

.lathund{
    width: 150px;
    height: 250px;
    margin-top: 0px;
}
}

@media only screen and (max-width: 450px){
h1{
    font-size: 9px;
}

main{
width: 440px;
}

main p{
    font-size: 10px;
}

.orderToday{
    font-size: 4px;
    height: 8px;
}

.logga2{
    width: 100px;
    height: 50px;
    margin-bottom: -20px;
}

.choose{
    font-size: 6px;
    margin-top: 0px;
    margin-right: 0px;
}

.profil{
    width: 60px;
    height: 60px;
}

.info{
    font-size: 10px;
}

.lathund{
    width: 100px;
    height: 150px;
    margin-top: 0px;
}

.orderList{
    font-size: 7.5px;
}

nav{
    font-size: 8px;
}

li{
    line-height: 10px;
}
}

@media only screen and (max-width: 300px){
.logga2{
    width: 80px;
    height: 35px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.profil{
    width:40px;
    height:40px;
    margin: 0px;
}

.info{
    font-size: 6px;
}

.lathund{
    width:80px;
    height: 120px;
}

}