body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #f5f2ed;
    max-width: 100%;
}

h1{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
}

.logga{
    display: flex;
    position: absolute;
    width: 150px;
    height: 100px;
    justify-content: right;
}


.mainContainer{
    background-color: #fff;
    display: flex;
    direction: row;
    border-radius: 15px;
    text-align: center;
}


main{
    position:relative;
    background-color: #fff;
    margin: 20px;
    padding: 30px;
    padding-top: 0;
    border: 2px dotted #f5f2ed;
    max-width: 100%;
}

a{
    text-decoration: none;
    color:#000;
}

li{
    font-weight: bold;
    line-height: 25px;
}

ul li{
    font-weight: normal;
}

nav {
    text-align: left;
    margin: 10px;
    margin-top: 50px;
    list-style: none;
    width: 100px;
    font-style: bold;
}

nav ul{
    list-style: none;
    margin-left: -20px;
    margin-top: -1px;
}

nav li:hover{
    transition:ease-in-out;
    transform: scale(1.1);
}

.choose{
    text-align: right;
    font-size: 15px;
    display: inline-block;
    list-style: none;
    display: inline-flex;
    justify-content: right;
    margin-right: 25px;
}

.choose li{
    background-color: #fff;
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: -2px;
    border-radius: 5px;
    font-weight: lighter;
}

.choose li:hover{
    transition:ease-in-out;
    transform: scale(1.2);
}


footer{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #e8e2dd;
    width: 100%;
    font-size: 11px;
}

.madeBy{
    display: block;
    margin: 0 auto;
    padding: 20px;
    font-size: 11px;
}


/*tabell*/

.orderDetails{
    display: block;
    margin: 0 auto;
    max-width:800px;
    padding: 15px;
    background-color: #fff;
    font-size: 12px;
}

.orderDetails img{
    width: 65px;
    height: 75px;
}

.products{
    display: inline-block;
    margin-right: 40px;
}


.frames, .poster{
    display: inline-block;
    margin: 0 auto;
    text-align: center; 
}

.frames{
    margin-left: 40px;
}

.frames1{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-left: 40px;
}


.storlek1, .storlek2, .storlek3{
    text-align: left;
    font-size: 10px;
    color: #548135;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.storlek1{
    margin-top: 92px;
}

.storlek2{
    margin-top: 130px;
}

.storlek3{
    margin-top: 169px;
}

.frameCheck{
    margin: 10px;
    display: none;
}

input:checked{
    background-color: #000;
}

legend{
    padding-top: 20px;
}

fieldset{
    border: none;
}

input{
    font-size: 13px;
    background-color: #f5f2ed;
    padding: 3px;
    border: none;
}

.zipcode{
    max-width: 6ch;
}


.orderButton{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding:10px;
    font-size: 18px;
    width: fit-content;
    background-color: #f5f2ed;
    color: #000;
    border: none;
    border-radius: 10px;
}

.orderButton:hover{
    color: #f5f2ed;
    background-color: #889871;
    cursor:pointer;
}

/*extra*/
@media only screen and (max-width: 900px) {
.orderDetails img{
        width: 40px;
        height: 50px;
}

.frames1{
    margin-left: 10px;
}

.storlek1, .storlek2, .storlek3{
    font-size: 8px;
}

.storlek1{
    margin-top: 68px;
}

.storlek2{
    margin-top: 105px;
}

.storlek3{
    margin-top: 144px;
}
}

@media only screen and (max-width: 500px) {
h1{
    font-size: 20px;
}

.logga{
    width: 120px;
    height: 70px;
}

.orderDetails img{
        width: 30px;
        height: 40px;
}

label{
    font-size: 10px;
}

.storlek1{
    margin-top: 58px;
}

.storlek2{
    margin-top: 95px;
}

.storlek3{
    margin-top: 134px;
}

.frames{
    margin-left: 30px;
}
}

@media only screen and (max-width: 450px) {
h1{
    font-size: 15px;
    font-weight: bold;
}

.logga{
    width: 120px;
    height: 70px;
}

.orderDetails img{
        width: 30px;
        height: 40px;
}

.frames1{
    margin-left: 0px;
}

label{
    font-size: 10px;
}

.storlek1{
    margin-top: 58px;
}

.storlek2{
    margin-top: 95px;
}

.storlek3{
    margin-top: 134px;
}

.frames{
    margin-left: 30px;
}
}